.weather-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/src/Assets/weatherBackGround.jpg");
  height: 100vh;
  z-index: -1;
}

.weather-card-wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  padding: 1%;
  border: 3px solid black;
  background-color: rgb(245, 245, 220);
  border-radius: 15px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-wrapper input[type="text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(
    142.99deg,
    rgba(217, 217, 217, 0.63) 15.53%,
    rgba(243, 243, 243, 0.63) 88.19%
  );
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 50%;
  transition: 0.5s;
  font-size: 20px;
}

.search-wrapper input[type="text"]:hover {
  width: 240px;
}

.search-wrapper input[type="text"]:focus {
  width: 70%;
}

.search-wrapper button {
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.search-wrapper button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.search-wrapper button:hover {
  cursor: pointer;
  color: #e8e8e8;
}

.search-wrapper button:hover::before {
  width: 100%;
}

.back-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 80%;
}

.back-btn button {
  width: 30%;
}

@media screen and (max-width: 1500px) {
  .weather-card-wrapper {
    width: 35%;
    height: 65vh;
  }

  .back-btn button {
    width: 35%;
  }

  .back-btn {
    top: 85%;
  }
}

@media screen and (max-width: 1000px) {
  .weather-card-wrapper {
    width: 50%;
    height: 62vh;
  }

  .back-btn button {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .weather-card-wrapper {
    width: 80%;
    height: 62vh;
  }

  .back-btn button {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .weather-card-wrapper {
    width: 100%;
    height: 62vh;
  }

  .back-btn button {
    width: 100%;
  }
}
